.Container_Base {
  box-shadow: 18px 18px 10px -6px black;
  border-radius: 2rem;
  text-align: center;
  text-justify: auto;
}

.Container_Line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Container_Line h1 {
  font-size: 15px;
  color: rgb(255, 204, 0);
  margin: 0;
  padding: 0;

}

.Container_Line h2 {
  font-size: 7.5px;
  color: chartreuse;
  margin: auto 0;
  padding: 0;
}
