.Container_Base {
  box-shadow: 20px 20px 20px -10px black;
  border-radius: 1rem;
  text-align: center;
  text-justify: auto;
}

.Container_Line {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Container_Line h1 {
  font-size: 15px;
  margin: 0;
  padding: 0;

}

.Container_Line h2 {
  font-size: 20px;
  
  margin: auto 0;
  padding: 0;
}
.Container_Line h3 {
  font-size: 10px;
  color: #808080;
 
}
.Container_Line h5 {
  font-size: 10px;
  color: #808080;
 
}
.Container_Line span {
  font-size: 10px;
  color: #357a38
;

}